# Ignora tutto
**/*
out/*

# Formati per Flowgorithm
!**/*.fprg

# Formati per il c++
!**/*.cpp
!**/*.hpp
!**/*.h
!**/*.cc
!**/*.cxx
!**/*.hh
!**/*.c++

# Formati per il python
!**/*.py

# Formati per il java
!**/*.java
!**/*.ctxt
!**/*.bluej
!**/*.png

# Formati per IntelliJ
!**/*.iml
!**/*.xml

# JavaFX
!JavaFX/**

# File geerici
!LICENSE
!*/
!**/*.md
!**/*.txt
!**/*.pdf
!**/*.gitignore
!**/*.svg
!cleanup.exe